.heading {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assests/hompage2.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homeLogo {
  display: none;
}
.landingText {
  color: var(--textColor);
  padding-top: 80px;
  margin-left: 70px;
  font-size: 100px;
}
.getStarted {
  display: block;
  text-align: center;
  padding: 0.5rem 5px 0.5rem 10px;
  margin: 4rem 5rem;
  border-radius: 4px;
  width: 20%;
  background: var(--btnColor);
  text-decoration: none;
  color: #e8e8e8;
  font-size: 1.5rem;
}
@media screen and (max-width: 960px) {
  .landingText {
    font-size: 90px;
  }
  .getStarted {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 680px) {
  .landingText {
    font-size: 60px;
  }
  .getStarted {
    display: block;
    text-align: center;
    padding: 0.5rem 5px 0.5rem 10px;
    margin: 4rem 5rem;
    border-radius: 4px;
    width: 30%;
    background: var(--btnColor);
    text-decoration: none;
    color: #e8e8e8;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .homeLogo {
    display: block;
    color: var(--textColor);
    justify-self: center;
    padding-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
    justify-content: center;
  }
  .homeLogoText {
    position: absolute;
    top: 160px;
    left: 160px;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 1.2rem;
  }
  .landingText {
    color: var(--textColor);
    padding-top: 80px;
    margin-left: 90px;
    font-size: 2rem;
    align-self: center;
    justify-content: center;
  }
  .getStarted {
    display: block;
    text-align: center;
    padding: 0.5rem 5px 0.5rem 10px;
    margin: 10rem 140px 5rem 140px;
    border-radius: 20px;
    width: 30%;
    background: var(--btnColor);
    text-decoration: none;
    color: #e8e8e8;
    font-size: 1rem;
  }
}
